<footer class="site-footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-initiatives">
          <h3>Our Initiatives</h3>
          <ul>
            <li><a href="https://vivolere.com">Vivolere</a></li>
            <li><a href="/planner">GolfOS</a></li>
            <li><a href="https://www.notion.so/I-Am-Not-What-You-Think-I-Am-1cec0194a81280379aedd1ad9de5d30d?source=copy_link" target="_blank">Civic Science</a></li>
          </ul>
        </div>
        <div class="footer-about">
          <h3>About Weeno Ridge</h3>
          <p>Weeno Ridge LLC is dedicated to creating innovative solutions that combine science engagement, community development, and personal growth.</p>
        </div>
        <div class="footer-contact">
          <h3>Contact</h3>
          <p><a href="mailto:weenollc@gmail.com">weenollc@gmail.com</a></p>
        </div>
      </div>
      
      <div class="footer-copyright">
        <p>&copy; {{ site.time | date: '%Y' }} Weeno Ridge LLC. All rights reserved.</p>
      </div>
    </div>
  </footer>